flows_Hayden-Laptop.json
[{"id":"a9cbfeed.76ef9","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"b18446c7.4c1468","type":"tab","label":"Flow 2","disabled":true,"info":""},{"id":"7322e285.0b7adc","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"a3e6c8ee.180088","type":"subflow","name":"Subflow 1","info":"","in":[],"out":[]},{"id":"f5d1c626.0b41a8","type":"sensibo-config","z":"","senAPI":"I2bjTGGNR7IMmY9rABIAG29fIQST8p"},{"id":"94502dc6.80cae","type":"sensibo-config","z":"","senAPI":"I2bjTGGNR7IMmY9rABIAG29fIQST8p"},{"id":"36f4b610.949efa","type":"atem-network","z":"","name":"ATEM","ipAddress":"10.4.10.12"},{"id":"d8a0968e.b39118","type":"uibuilder","z":"a9cbfeed.76ef9","name":"","topic":"","url":"uibuilder","fwdInMessages":false,"allowScripts":false,"allowStyles":false,"copyIndex":true,"showfolder":false,"x":434.5,"y":210,"wires":[["11ea5876.8aca48"],[]]},{"id":"11ea5876.8aca48","type":"function","z":"a9cbfeed.76ef9","name":"Separate Command","func":"var msgs = [];\nfor(var i in msg.payload) {\n    if(msg.topic == \"status\") {\n        var msg1 = {\n            \"topic\": msg.topic,\n            \"payload\": msg.payload[i]\n        }\n        msgs.push(msg1);\n    }\n    else if(msg.topic == \"request\") {\n        var msg1 = {\n            \"topic\": msg.topic,\n            \"payload\":{}\n        }\n        msg1.payload[msg.payload[i].command] = msg.payload[i].value;\n        msgs.push(msg1);\n    }\n}\n\nreturn [msgs];","outputs":1,"noerr":0,"x":621,"y":212,"wires":[["a319094b.d29098","ec4a8f82.76379","9351b74e.33fa38","a9a87483.cf8468","486d4cf2.a70df4","80e0ebaf.b4f9d8","f56ff0e7.4d28","9db08f59.9be28","5d5a1dfe.b25734","b0b18319.e3763","371d1e26.79dbd2"]]},{"id":"9351b74e.33fa38","type":"function","z":"a9cbfeed.76ef9","name":"Reply","func":"if(msg.topic == \"status\") {\n    var msgs = [];\n    \n    if(msg.payload == \"mode\") {\n        var msg1 = {\n            \"topic\": \"status\",\n            \"payload\": {\n                \"mode\": \"full\"\n            }\n        }\n        msgs.push(msg1);\n    }\n    \n    if(msg.payload == \"password\") {\n        var msg1 = {\n            \"topic\": \"status\",\n            \"payload\": {\n                \"password\": \"3212\"\n            }\n        }\n        msgs.push(msg1);\n    }\n    \n    if(msg.payload == \"backstageLights\") {\n        var msg1 = {\n            \"topic\": \"status\",\n            \"payload\": {\n                \"backstageLights\": 0\n            }\n        }\n        msgs.push(msg1);\n    }\n\n    \n    \n\n    \n    // msg1 = {\n    //     \"topic\": \"information\",\n    //     \"payload\": {\n    //         \"message\": \"hi\",\n    //         \"type\": \"warning\"\n    //     }\n    // }\n    // msgs.push(msg1);\n    \n    \n    return [msgs];\n}","outputs":1,"noerr":0,"x":627,"y":95,"wires":[["d8a0968e.b39118"]]},{"id":"44b30f2e.61e38","type":"inject","z":"a9cbfeed.76ef9","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":162.600004196167,"y":82.00000190734863,"wires":[["b34f1ca7.b8ce9"]]},{"id":"b34f1ca7.b8ce9","type":"function","z":"a9cbfeed.76ef9","name":"Change mode","func":"//if(msg.topic == \"status\" && msg.payload === \"\") {\n    var msgs = [];\n    \n    var msg1 = {\n        \"topic\": \"status\",\n        \"payload\": {\n            \"mode\": \"on\"\n        }\n    }\n    msgs.push(msg1);\n    \n    // msg1 = {\n    //     \"topic\": \"information\",\n    //     \"payload\": {\n    //         \"message\": \"hi\",\n    //         \"type\": \"warning\"\n    //     }\n    // }\n    // msgs.push(msg1);\n    \n    \n    return [msgs];\n//}","outputs":1,"noerr":0,"x":184,"y":265,"wires":[["d8a0968e.b39118"]]},{"id":"83974cc8.c9d68","type":"function","z":"a9cbfeed.76ef9","name":"Change mode","func":"//if(msg.topic == \"status\" && msg.payload === \"\") {\n    var msgs = [];\n    \n    var msg1 = {\n        \"topic\": \"status\",\n        \"payload\": {\n            \"mode\": \"off\"\n        }\n    }\n    msgs.push(msg1);\n    \n    // msg1 = {\n    //     \"topic\": \"information\",\n    //     \"payload\": {\n    //         \"message\": \"hi\",\n    //         \"type\": \"warning\"\n    //     }\n    // }\n    // msgs.push(msg1);\n    \n    \n    return [msgs];\n//}","outputs":1,"noerr":0,"x":246,"y":454,"wires":[["d8a0968e.b39118"]]},{"id":"be61248f.5f4418","type":"inject","z":"a9cbfeed.76ef9","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":106,"y":396,"wires":[["83974cc8.c9d68"]]},{"id":"1ebd5e49.b9a502","type":"function","z":"a9cbfeed.76ef9","name":"Lock on","func":"//if(msg.topic == \"status\" && msg.payload === \"\") {\n    var msgs = [];\n    \n    var msg1 = {\n        \"topic\": \"lock\",\n        \"payload\": {\n            \"state\": true\n        }\n    }\n    msgs.push(msg1);\n    \n    // msg1 = {\n    //     \"topic\": \"information\",\n    //     \"payload\": {\n    //         \"message\": \"hi\",\n    //         \"type\": \"warning\"\n    //     }\n    // }\n    // msgs.push(msg1);\n    \n    \n    return [msgs];\n//}","outputs":1,"noerr":0,"x":532,"y":561,"wires":[["d8a0968e.b39118"]]},{"id":"8a1cf31a.8a06f","type":"function","z":"a9cbfeed.76ef9","name":"Lock off","func":"//if(msg.topic == \"status\" && msg.payload === \"\") {\n    var msgs = [];\n    \n    var msg1 = {\n        \"topic\": \"lock\",\n        \"payload\": {\n            \"state\": false\n        }\n    }\n    msgs.push(msg1);\n    \n    // msg1 = {\n    //     \"topic\": \"information\",\n    //     \"payload\": {\n    //         \"message\": \"hi\",\n    //         \"type\": \"warning\"\n    //     }\n    // }\n    // msgs.push(msg1);\n    \n    \n    return [msgs];\n//}","outputs":1,"noerr":0,"x":530,"y":601,"wires":[["d8a0968e.b39118"]]},{"id":"6e85cee6.f7aa6","type":"inject","z":"a9cbfeed.76ef9","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":293,"y":542,"wires":[["1ebd5e49.b9a502"]]},{"id":"9ace9d77.b04","type":"inject","z":"a9cbfeed.76ef9","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":303,"y":601,"wires":[["8a1cf31a.8a06f"]]},{"id":"a319094b.d29098","type":"debug","z":"a9cbfeed.76ef9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":859.6000366210938,"y":298,"wires":[]},{"id":"ec4a8f82.76379","type":"function","z":"a9cbfeed.76ef9","name":"Reply","func":"if(msg.topic == \"request\" && msg.payload.atemKeyers === undefined && msg.payload.atemProgramInputs === undefined && msg.payload.atemMacros === undefined) {\n    return msg;\n}","outputs":1,"noerr":0,"x":903,"y":129,"wires":[["d8a0968e.b39118"]]},{"id":"a9a87483.cf8468","type":"function","z":"a9cbfeed.76ef9","name":"Reply","func":"if(msg.topic == \"status\" && msg.payload !== \"mode\" && msg.payload !== \"atemKeyers\" && msg.payload !== \"houseLights\" && msg.payload !== \"atemProgramInputs\" && msg.payload !== \"atemMacros\") {\n    var msg1 = {\n        \"topic\": \"status\",\n        \"payload\": {\n            \n        }\n        \n    }\n    msg1.payload[msg.payload] = 0;\n    return msg1;\n}","outputs":1,"noerr":0,"x":758,"y":447,"wires":[["d8a0968e.b39118"]]},{"id":"486d4cf2.a70df4","type":"function","z":"a9cbfeed.76ef9","name":"Atem Keyers","func":"if(msg.topic == \"status\" && msg.payload == \"atemKeyers\") {\n    var msg1 = {\n        \"topic\": \"status\",\n        \"payload\": {\n            \"atemKeyers\": {\n                \"upstream\": {\n                    0: {\n                        1: true,\n                        2: true,\n                        3: true,\n                        4: true\n                    },\n                    1: {\n                        1: true,\n                        2: true,\n                        3: true,\n                        4: true\n                    },\n                    2: {\n                        1: true,\n                        2: true,\n                        3: true,\n                        4: true\n                    },\n                   3: {\n                        1: true,\n                        2: true,\n                        3: true,\n                        4: true\n                    },\n                },\n                \"downstream\": {\n                    0: {\n                        1: true,\n                        2: true,\n                    },\n                    1: {\n                        1: true,\n                        2: true,\n                    },\n                    2: {\n                        1: true,\n                        2: true,\n                    },\n                   3: {\n                        1: true,\n                        2: true,\n                    },\n                }\n                \n            }\n            \n        }\n        \n    }\n    return msg1;\n}","outputs":1,"noerr":0,"x":905,"y":560,"wires":[["d8a0968e.b39118"]]},{"id":"80e0ebaf.b4f9d8","type":"function","z":"a9cbfeed.76ef9","name":"Atem Program Inputs","func":"if(msg.topic == \"status\" && msg.payload == \"atemProgramInputs\") {\n    var msg1 = {\n        \"topic\": \"status\",\n        \"payload\": {\n            \"atemProgramInputs\": {\n                0: 0,\n                1: 0,\n                2: 0,\n                3: 0,\n            }\n        }\n    }\n    return msg1;\n}","outputs":1,"noerr":0,"x":935,"y":599,"wires":[["d8a0968e.b39118"]]},{"id":"f56ff0e7.4d28","type":"function","z":"a9cbfeed.76ef9","name":"Atem Inputs","func":"if(msg.topic == \"status\" && msg.payload == \"atemInputs\") {\n    var msg1 = {\n        \"topic\": \"status\",\n        \"payload\": {\n            \"atemInputs\": {\n            }\n        }\n    }\n    for(var i = 0; i < 12; i++) {\n        msg1.payload.atemInputs[i] = {\n            \"name\": \"test\" + i\n        }\n    }\n    \n    \n    return msg1;\n}","outputs":1,"noerr":0,"x":906,"y":644,"wires":[["d8a0968e.b39118"]]},{"id":"9db08f59.9be28","type":"function","z":"a9cbfeed.76ef9","name":"Atem Macros","func":"if(msg.topic == \"status\" && msg.payload == \"atemMacros\") {\n    var msg1 = {\n        \"topic\": \"status\",\n        \"payload\": {\n            \"atemMacros\": {\n                0: {\n                    \"name\": \"Test\"\n                }\n            }\n        }\n    }\n    return msg1;\n}","outputs":1,"noerr":0,"x":907,"y":687,"wires":[["d8a0968e.b39118"]]},{"id":"5d5a1dfe.b25734","type":"function","z":"a9cbfeed.76ef9","name":"Atem Aux","func":"if(msg.topic == \"status\" && msg.payload == \"atemAuxInputs\") {\n    var msg1 = {\n        \"topic\": \"status\",\n        \"payload\": {\n            \"atemAuxInputs\": {\n                0: {\n                    \"name\": \"Yeet Me\",\n                    \"inputId\": 0\n                },\n                1: {\n                    \"name\": \"Yeet Me\",\n                    \"inputId\": 0\n                },\n                2: {\n                    \"name\": \"Yeet Me\",\n                    \"inputId\": 0\n                },\n            }\n        }\n    }\n    return msg1;\n}","outputs":1,"noerr":0,"x":896,"y":731,"wires":[["d8a0968e.b39118"]]},{"id":"b0b18319.e3763","type":"function","z":"a9cbfeed.76ef9","name":"Atem Program Inputs","func":"if(msg.topic == \"status\" && msg.payload == \"atemPreviewInputs\") {\n    var msg1 = {\n        \"topic\": \"status\",\n        \"payload\": {\n            \"atemPreviewInputs\": {\n                0: 0,\n                1: 0,\n                2: 0,\n                3: 0,\n            }\n        }\n    }\n    return msg1;\n}","outputs":1,"noerr":0,"x":933,"y":770,"wires":[["d8a0968e.b39118"]]},{"id":"371d1e26.79dbd2","type":"function","z":"a9cbfeed.76ef9","name":"send ac","func":"if(msg.topic == \"status\" && msg.payload == \"acValues\") {\n    return {\n        \"topic\": \"status\",\n        \"payload\": {\n            \"acValues\": {\n                \"auditorium\": {\n                    \"temp\": 21,\n                    \"setTemp\": 20,\n                    \"mode\": \"cool\",\n                    \"fan\": \"high\",\n                    \"power\": \"on\"\n                },\n                \n                \"cafe\": {\n                    \"temp\": 10,\n                    \"setTemp\": 20,\n                    \"mode\": \"cool\",\n                    \"fan\": \"low\",\n                    \"power\": \"on\"     \n                }    \n            }\n        }\n    }\n}","outputs":1,"noerr":0,"x":898,"y":50,"wires":[["d8a0968e.b39118"]]},{"id":"5cce7a0.e10b388","type":"debug","z":"a9cbfeed.76ef9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1519.5999717712402,"y":255.00000381469727,"wires":[]},{"id":"e6466de0.6bac1","type":"function","z":"a9cbfeed.76ef9","name":"Get State","func":"var msg = {\n    \"payload\": \"acState\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":1220.9999656677246,"y":254.00000476837158,"wires":[["811b35eb.9d3ea8"]]},{"id":"909f072c.ee0a38","type":"inject","z":"a9cbfeed.76ef9","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1119.9999694824219,"y":195.00002765655518,"wires":[["e6466de0.6bac1"]]},{"id":"c7222500.239788","type":"sensibo send","z":"a9cbfeed.76ef9","sensiboAPI":"f5d1c626.0b41a8","name":"","pod":"UcxF3WV6","podSelector":"","x":1381.7998728752136,"y":189.60000324249268,"wires":[["5cce7a0.e10b388"]]},{"id":"811b35eb.9d3ea8","type":"sensibo in","z":"a9cbfeed.76ef9","sensiboAPI":"f5d1c626.0b41a8","name":"","pod":"UcxF3WV6","getconfig":"","polltime":"0","x":1361.7999877929688,"y":293.6000061035156,"wires":[["5cce7a0.e10b388"]]},{"id":"23eb491e.506ce6","type":"hdl-bus","z":"b18446c7.4c1468","name":"","outputMode":"all","network":"","x":177,"y":182,"wires":[["96824d64.b0f41"]],"l":false},{"id":"96824d64.b0f41","type":"debug","z":"b18446c7.4c1468","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":306.5,"y":279,"wires":[]},{"id":"84c83308.7bb87","type":"function","z":"7322e285.0b7adc","name":"Separate Command","func":"var msgs = [];\nfor(var i in msg.payload) {\n    if(msg.topic == \"status\") {\n        var msg1 = {\n            \"topic\": msg.topic,\n            \"payload\": msg.payload[i]\n        }\n        msgs.push(msg1);\n    }\n    else if(msg.topic == \"request\") {\n        var msg1 = {\n            \"topic\": msg.topic,\n            \"payload\":{}\n        }\n        msg1.payload[msg.payload[i].command] = msg.payload[i].value;\n        msgs.push(msg1);\n    }\n}\n\nreturn [msgs];","outputs":1,"noerr":0,"x":723,"y":47,"wires":[["e07caf85.685db","15358759.d1d399"]]},{"id":"4212280f.97cbb8","type":"function","z":"7322e285.0b7adc","name":"Lock on","func":"//if(msg.topic == \"status\" && msg.payload === \"\") {\n    var msgs = [];\n    \n    var msg1 = {\n        \"topic\": \"lock\",\n        \"payload\": {\n            \"state\": true\n        }\n    }\n    msgs.push(msg1);\n    \n    // msg1 = {\n    //     \"topic\": \"information\",\n    //     \"payload\": {\n    //         \"message\": \"hi\",\n    //         \"type\": \"warning\"\n    //     }\n    // }\n    // msgs.push(msg1);\n    \n    \n    return [msgs];\n//}","outputs":1,"noerr":0,"x":303,"y":107,"wires":[[]]},{"id":"45958d07.5a5564","type":"function","z":"7322e285.0b7adc","name":"Lock off","func":"//if(msg.topic == \"status\" && msg.payload === \"\") {\n    var msgs = [];\n    \n    var msg1 = {\n        \"topic\": \"lock\",\n        \"payload\": {\n            \"state\": false\n        }\n    }\n    msgs.push(msg1);\n    \n    // msg1 = {\n    //     \"topic\": \"information\",\n    //     \"payload\": {\n    //         \"message\": \"hi\",\n    //         \"type\": \"warning\"\n    //     }\n    // }\n    // msgs.push(msg1);\n    \n    \n    return [msgs];\n//}","outputs":1,"noerr":0,"x":303,"y":167,"wires":[[]]},{"id":"2170fa4e.cd4826","type":"inject","z":"7322e285.0b7adc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":164,"y":108,"wires":[["4212280f.97cbb8"]]},{"id":"9c72bff1.9382c","type":"inject","z":"7322e285.0b7adc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":174,"y":167,"wires":[["45958d07.5a5564"]]},{"id":"beaa6c07.9243c","type":"function","z":"7322e285.0b7adc","name":"Reply to settings","func":"if(msg.topic == \"status\") {\n    var msgs = [];\n    \n    if(msg.payload == \"password\") {\n        var msg1 = {\n            \"topic\": \"status\",\n            \"payload\": {\n                \"password\": 3215\n            }\n        }\n        msgs.push(msg1);\n    }\n    \n    return [msgs];\n}","outputs":1,"noerr":0,"x":633,"y":347,"wires":[["e9119712.84ed48"]]},{"id":"e07caf85.685db","type":"link out","z":"7322e285.0b7adc","name":"AuditoriumWebUIOut","links":["968d0f01.216bf","ab17abae.a54bd8","ade5199b.c61c68"],"x":878,"y":47,"wires":[]},{"id":"f6aa5751.02cca8","type":"link in","z":"7322e285.0b7adc","name":"AuditoriumWebUIIn","links":["e9119712.84ed48","44a64727.9cc5d8","267f320.75a4dce"],"x":378,"y":47,"wires":[["2805ec7a.5a68d4"]]},{"id":"968d0f01.216bf","type":"link in","z":"7322e285.0b7adc","name":"","links":["e07caf85.685db"],"x":218,"y":347,"wires":[["beaa6c07.9243c","df9e2f40.25731","83d34524.8df478","a20be938.856818","7eee9372.ae59ac","3c648f01.8366e"]]},{"id":"e9119712.84ed48","type":"link out","z":"7322e285.0b7adc","name":"","links":["f6aa5751.02cca8"],"x":1078,"y":347,"wires":[]},{"id":"df9e2f40.25731","type":"function","z":"7322e285.0b7adc","name":"Request HDL","func":"//Get the value from HDL\nif(msg.topic == \"status\") {\n    var msg1 = {\n        \"payload\": {\n            \"operate\": \"sceneControl\",\n            \"mode\": \"read\",\n            \"direction\": \"request\",\n            \"areaNumber\": undefined\n        }\n    }\n    \n    //Decide the action\n    switch(msg.payload) {\n        case \"backstageLights\": {\n            msg1.payload.areaNumber = 1;\n            break;\n        }\n        case \"houseLights\": {\n            msg1.payload.areaNumber = 2;\n            break;\n        }\n    }\n    \n    if(msg1.payload.areaNumber !== undefined) {return msg1;}\n}\n\n//Set the value to HDL\nelse if(msg.topic == \"request\") {\n    var msgs = [];\n    var msg1 = {\n        \"payload\": {\n            \"operate\": \"sceneControl\",\n            \"mode\": \"set\",\n            \"direction\": \"request\",\n            \"areaNumber\": undefined,\n            \"sceneNumber\": undefined\n        }\n    }\n    \n    //Decide the action\n    for(var i in msg.payload) {\n        switch(i) {\n            case \"backstageLights\": {\n                msg1.payload.areaNumber = 1;\n                msg1.payload.sceneNumber = parseInt(msg.payload[i]);\n                break;\n            }\n            case \"houseLights\": {\n                msg1.payload.areaNumber = 2;\n                msg1.payload.sceneNumber = parseInt(msg.payload[i]);\n                break;\n            }\n        }\n        if(msg1.payload.areaNumber !== undefined && msg1.payload.sceneNumber !== undefined) {msgs.push(msg1);}\n    }\n    \n    return [msgs];\n}","outputs":1,"noerr":0,"x":348,"y":408,"wires":[[]]},{"id":"e0dbf79c.aa5048","type":"function","z":"7322e285.0b7adc","name":"Reply HDL","func":"if((msg.payload.operate == \"sceneControl\" || msg.payload.operate == \"opCode\") && msg.payload.direction == \"answerBack\") {\n    var msg1 = {\n        \"topic\": \"status\",\n        \"payload\": {}\n    }\n    \n    switch(msg.payload.areaNumber) {\n        case 1: {\n            msg1.payload.backstageLights = msg.payload.sceneNumber;\n            break;\n        }\n        case 2: {\n            msg1.payload.houseLights = msg.payload.sceneNumber;\n            break;\n        }\n    }\n    \n    return msg1;\n}","outputs":1,"noerr":0,"x":907,"y":407,"wires":[["e9119712.84ed48"]]},{"id":"83d34524.8df478","type":"function","z":"7322e285.0b7adc","name":"Request HDL","func":"//Get the current state from HDL\nif(msg.topic == \"status\") {\n    var msg1 = {\n        \"payload\": {\n            \"operate\": \"sceneControl\",\n            \"mode\": \"read\",\n            \"direction\": \"request\",\n            \"areaNumber\": undefined\n        }\n    }\n    \n    switch(msg.payload) {\n        case \"lxPower\": {\n            msg1.payload.areaNumber = 1;\n            break;\n        }\n        case \"floorWash\": {\n            msg1.payload.areaNumber = 2;\n            break;\n        }\n        case \"frontWash\": {\n            msg1.payload.areaNumber = 3;\n            break;\n        }\n        case \"mode\": {\n            msg1.payload.areaNumber = 4;\n            break;\n        }\n        case \"cafeMode\": {\n            msg1.payload.areaNumber = 5;\n            break;\n        }\n        case \"lock\": {\n            msg1.payload.areaNumber = 6;\n            break;\n        }\n        case \"tolietPIRLock\": {\n            msg1.payload.areaNumber = 7;\n            break;\n        }\n        case \"projectorPower\": {\n            msg1.payload.areaNumber = 8;\n            break;\n        }\n    }\n    \n    if(msg1.payload.areaNumber !== undefined) {return msg1;}\n}\n\n//Set the value to HDL\nelse if(msg.topic == \"request\") {\n    var msgs = [];\n    var msg1 = {\n        \"payload\": {\n            \"operate\": \"sceneControl\",\n            \"mode\": \"set\",\n            \"direction\": \"request\",\n            \"areaNumber\": undefined,\n            \"sceneNumber\": undefined\n        }\n    }\n    \n    //Decide the action\n    for(var i in msg.payload) {\n        switch(i) {\n            case \"lxPower\": {\n                msg1.payload.areaNumber = 1;\n                msg1.payload.sceneNumber = parseInt(msg.payload[i]);\n                break;\n            }\n            case \"floorWash\": {\n                msg1.payload.areaNumber = 2;\n                msg1.payload.sceneNumber = parseInt(msg.payload[i]);\n                break;\n            }\n            case \"frontWash\": {\n                msg1.payload.areaNumber = 3;\n                msg1.payload.sceneNumber = parseInt(msg.payload[i]);\n                break;\n            }\n            case \"mode\": {\n                msg1.payload.areaNumber = 4;\n                msg1.payload.sceneNumber = parseInt(msg.payload[i]);\n                break;\n            }\n            case \"cafeMode\": {\n                msg1.payload.areaNumber = 5;\n                msg1.payload.sceneNumber = parseInt(msg.payload[i]);\n                break;\n            }\n            case \"lock\": {\n                msg1.payload.areaNumber = 6;\n                msg1.payload.sceneNumber = parseInt(msg.payload[i]);\n                break;\n            }\n            case \"tolietPIRLock\": {\n                msg1.payload.areaNumber = 7;\n                msg1.payload.sceneNumber = parseInt(msg.payload[i]);\n                break;\n            }\n            case \"projectorPower\": {\n                msg1.payload.areaNumber = 8;\n                msg1.payload.sceneNumber = parseInt(msg.payload[i]);\n                break;\n            }\n        }\n        if(msg1.payload.areaNumber !== undefined && msg1.payload.sceneNumber !== undefined) {msgs.push(msg1);}\n    }\n    \n    return [msgs];\n}","outputs":1,"noerr":0,"x":328,"y":508,"wires":[[]]},{"id":"e5f0557b.b059a8","type":"function","z":"7322e285.0b7adc","name":"Reply HDL","func":"if((msg.payload.operate == \"sceneControl\" || msg.payload.operate == \"opCode\") && msg.payload.direction == \"answerBack\") {\n    var msg1 = {\n        \"topic\": \"status\",\n        \"payload\": {}\n    }\n    \n    switch(msg.payload.areaNumber) {\n        case 1: {\n            msg1.payload.lxPower = msg.payload.sceneNumber;\n            break;\n        }\n        case 2: {\n            msg1.payload.floorWash = msg.payload.sceneNumber;\n            break;\n        }\n        case 3: {\n            msg1.payload.frontWash = msg.payload.sceneNumber;\n            break;\n        }\n        case 4: {\n            msg1.payload.mode = msg.payload.sceneNumber;\n            break;\n        }\n        case 5: {\n            msg1.payload.cafeMode = msg.payload.sceneNumber;\n            break;\n        }\n        case 6: {\n            msg1.payload.lock = msg.payload.sceneNumber;\n            break;\n        }\n        case 7: {\n            msg1.payload.tolietPIRLock = msg.payload.sceneNumber;\n            break;\n        }\n        case 8: {\n            msg1.payload.projectorPower = msg.payload.sceneNumber;\n            break;\n        }\n    }\n    \n    return msg1;\n}","outputs":1,"noerr":0,"x":907,"y":507,"wires":[["e9119712.84ed48"]]},{"id":"a20be938.856818","type":"function","z":"7322e285.0b7adc","name":"Request HDL","func":"if(msg.topic == \"status\") {\n    var msg1 = {\n        \"payload\": {\n            \"operate\": \"sceneControl\",\n            \"mode\": \"read\",\n            \"direction\": \"request\",\n            \"areaNumber\": undefined\n        }\n    }\n    \n    switch(msg.payload) {\n        case \"soundPower\": {\n            msg1.payload.areaNumber = 1;\n            break;\n        }\n    }\n    \n    if(msg1.payload.areaNumber !== undefined) {return msg1;}\n}\n\n//Set the value to HDL\nelse if(msg.topic == \"request\") {\n    var msgs = [];\n    var msg1 = {\n        \"payload\": {\n            \"operate\": \"sceneControl\",\n            \"mode\": \"set\",\n            \"direction\": \"request\",\n            \"areaNumber\": undefined,\n            \"sceneNumber\": undefined\n        }\n    }\n    \n    //Decide the action\n    for(var i in msg.payload) {\n        switch(i) {\n            case \"soundPower\": {\n                msg1.payload.areaNumber = 1;\n                msg1.payload.sceneNumber = parseInt(msg.payload[i]);\n                break;\n            }\n        }\n        if(msg1.payload.areaNumber !== undefined && msg1.payload.sceneNumber !== undefined) {msgs.push(msg1);}\n    }\n    \n    return [msgs];\n}","outputs":1,"noerr":0,"x":328,"y":588,"wires":[[]]},{"id":"9bc814f1.0e6018","type":"function","z":"7322e285.0b7adc","name":"Reply HDL","func":"if(msg.payload.operate == \"sceneControl\" && msg.payload.direction == \"answerBack\") {\n    var msg1 = {\n        \"topic\": \"status\",\n        \"payload\": {}\n    }\n    \n    switch(msg.payload.areaNumber) {\n        case 1: {\n            msg1.payload.soundPower = msg.payload.sceneNumber;\n            break;\n        }\n    }\n    \n    return msg1;\n}","outputs":1,"noerr":0,"x":907,"y":587,"wires":[["e9119712.84ed48"]]},{"id":"11bc4d98.b39c72","type":"function","z":"7322e285.0b7adc","name":"Handle Panel Locks","func":"if(msg.payload.operate == \"sceneControl\" && msg.payload.direction == \"answerBack\") {\n    var msg1 = {\n        \"topic\": \"lock\",\n        \"payload\": {}\n    }\n    \n    if(msg.payload.areaNumber == 6) {\n        switch(msg.payload.sceneNumber) {\n            case 0: {\n                //Unlock\n                msg1.payload.state = false;\n                break;\n            }\n            case 1: {\n                //EXT Lock\n                msg1.payload.state = false;\n                break;\n            }\n            case 2: {\n                //All Lock\n                msg1.payload.state = false;\n                break;\n            }\n        }\n        \n        return msg1;\n    }\n}","outputs":1,"noerr":0,"x":937,"y":467,"wires":[["e9119712.84ed48"]]},{"id":"62043bd1.7e4ad4","type":"atem-atem","z":"7322e285.0b7adc","name":"Atem","network":"36f4b610.949efa","outputMode":"all","sendInitialData":"yes","sendStatusUpdates":"yes","x":600,"y":768,"wires":[["8ae063f3.25788","4d18374c.ab1e38","c2d5a7e2.835ec8","bc2e9485.8357c8","bddf4c7b.6c509","a518193b.8e08a8"]]},{"id":"8ae063f3.25788","type":"function","z":"7322e285.0b7adc","name":"No Spam","func":"if(msg.payload.cmd != \"raw\" && msg.payload.cmd != \"time\") {\n    return msg;\n}","outputs":1,"noerr":0,"x":770,"y":728,"wires":[[]]},{"id":"4d18374c.ab1e38","type":"function","z":"7322e285.0b7adc","name":"Macros","func":"if(msg.payload.cmd == \"macroProperties\") {\n    var msg1 = {\n        \"topic\": \"status\",\n        \"payload\": {\n            \"atemMacros\": msg.payload.data\n        }\n    }\n    \n    // for(var i = 0; i < msg.payload.data.length; i++) {\n    //     msg1.payload.atemMacros[i].name = msg.payload.data[i].name;\n    //     msg1.payload.atemMacros[i].description = msg.payload.data[i].description;\n    // }\n    \n    \n    return msg1;\n}","outputs":1,"noerr":0,"x":770,"y":768,"wires":[["e9119712.84ed48"]]},{"id":"7eee9372.ae59ac","type":"function","z":"7322e285.0b7adc","name":"Request Atem","func":"if(msg.topic == \"status\") {\n    var msgs = [];\n    switch(msg.payload) {\n        case \"atemMacros\": {\n            var msg1 = {\n                \"payload\": {\n                    \"cmd\": \"macroProperties\"\n                }\n            }\n            msgs.push(msg1);\n            break;\n        }\n        case \"atemInputs\": {\n            var msg1 = {\n                \"payload\": {\n                    \"cmd\": \"inputProperty\"\n                }\n            }\n            msgs.push(msg1);\n            break;\n        }\n        case \"atemAuxInputs\": {\n            var msg1 = {\n                \"payload\": {\n                    \"cmd\": \"auxSource\",\n                    \"data\":{}\n                }\n            }\n            msgs.push(msg1);\n            break;\n        }\n        case \"atemProgramInputs\": {\n            var msg1 = {\n                \"payload\": {\n                    \"cmd\": \"programInput\",\n                    \"data\": {}\n                }\n            }\n            msgs.push(msg1);\n            break;\n        }\n        case \"atemDownstreamKeyers\":\n        case \"atemUpstreamKeyers\":\n        case \"atemKeyers\": {\n            msgs.push({\"payload\": {\n                \"cmd\": \"downstreamKeyer\",\n                \"data\":{}\n            }});\n            msgs.push({\"payload\": {\n                \"cmd\": \"upstreamKeyer\",\n                \"data\":{}\n            }}); \n            break;\n        }\n    }\n    \n    return [msgs];\n    \n}","outputs":1,"noerr":0,"x":410,"y":768,"wires":[["62043bd1.7e4ad4"]]},{"id":"c2d5a7e2.835ec8","type":"function","z":"7322e285.0b7adc","name":"Inputs","func":"if(msg.payload.cmd == \"inputProperty\") {\n    var msg1 = {\n        \"topic\": \"status\",\n        \"payload\": {\n            \"atemInputs\": msg.payload.data.inputs\n        }\n    }\n    \n    return msg1;\n}","outputs":1,"noerr":0,"x":760,"y":808,"wires":[["e9119712.84ed48"]]},{"id":"3c648f01.8366e","type":"function","z":"7322e285.0b7adc","name":"Set Atem","func":"if(msg.topic == \"request\") {\n    //Macro Action\n    if(msg.payload.atemMacroAction !== undefined && msg.payload.atemMacroAction !== null) {\n        var msg = {\n            \"payload\": {\n                \"cmd\": \"macroAction\",\n                \"data\": {\n                    \"macroId\": msg.payload.atemMacroAction.macroId,\n                    \"action\": msg.payload.atemMacroAction.type\n                }\n            }\n        }\n        return msg;\n    }\n    \n    //Set program input\n    if(msg.payload.atemProgramInputs !== undefined && msg.payload.atemProgramInputs !== null) {\n        var msg = {\n            \"payload\": {\n                \"cmd\": \"programInput\",\n                \"data\": {\n                    \"ME\": msg.payload.atemProgramInputs.meId,\n                    \"videoSource\": {\n                        id: msg.payload.atemProgramInputs.inputId\n                    }\n                }\n            }\n        }\n        return msg;\n    }\n    \n    //Set aux input\n    if(msg.payload.atemAuxInput !== undefined && msg.payload.atemAuxInput !== null) {\n        var msg = {\n            \"payload\": {\n                \"cmd\": \"auxSource\",\n                \"data\": {\n                    \"id\": msg.payload.atemAuxInput.auxId,\n                    \"videoSource\": {\n                        id: msg.payload.atemAuxInput.inputId\n                    },\n                    \"mask\": true\n                }\n            }\n        }\n        return msg;\n    }\n    \n    //Set DS keyers\n    if(msg.payload.atemDownstreamKeyers !== undefined && msg.payload.atemDownsteamKeyers !== null) {\n        var msg = {\n            \"payload\": {\n                \"cmd\": \"downstreamKeyer\",\n                \"data\": {\n                    \"id\": (parseInt(msg.payload.atemDownstreamKeyers.me)*10) + parseInt(msg.payload.atemDownstreamKeyers.keyer),\n                    \"state\": msg.payload.atemDownstreamKeyers.value\n                }\n            }\n        }\n        return msg;\n    }\n    \n    //Set US keyers\n    if(msg.payload.atemUpstreamKeyers !== undefined && msg.payload.atemUpstreamKeyers !== null) {\n        var msg = {\n            \"payload\": {\n                \"cmd\": \"upstreamKeyer\",\n                \"data\": {\n                    \"ME\": parseInt(msg.payload.atemUpstreamKeyers.me),\n                    \"id\": parseInt(msg.payload.atemUpstreamKeyers.keyer),\n                    \"state\": msg.payload.atemUpstreamKeyers.value\n                }\n            }\n        }\n        return msg;\n    }\n}","outputs":1,"noerr":0,"x":390,"y":808,"wires":[["62043bd1.7e4ad4","e711bb20.56b8a8"]]},{"id":"bc2e9485.8357c8","type":"function","z":"7322e285.0b7adc","name":"Program Input","func":"if(msg.payload.cmd == \"programInput\") {\n    var msg1 = {\n        \"topic\": \"status\",\n        \"payload\": {\n            \"atemProgramInputs\": msg.payload.data\n        }\n    }\n    \n    return msg1;\n}","outputs":1,"noerr":0,"x":790,"y":848,"wires":[["e9119712.84ed48"]]},{"id":"bddf4c7b.6c509","type":"function","z":"7322e285.0b7adc","name":"Aux Input","func":"if(msg.payload.cmd == \"auxSource\") {\n    var msg1 = {\n        \"topic\": \"status\",\n        \"payload\": {\n            \"atemAuxInputs\": msg.payload.data\n        }\n    }\n    \n    return msg1;\n}","outputs":1,"noerr":0,"x":770,"y":888,"wires":[["e9119712.84ed48"]]},{"id":"2805ec7a.5a68d4","type":"uibuilder","z":"7322e285.0b7adc","name":"","topic":"","url":"uibuilder","fwdInMessages":false,"allowScripts":false,"allowStyles":false,"copyIndex":true,"showfolder":false,"x":512,"y":48,"wires":[["84c83308.7bb87"],[]]},{"id":"15358759.d1d399","type":"debug","z":"7322e285.0b7adc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":589.5,"y":233,"wires":[]},{"id":"a518193b.8e08a8","type":"function","z":"7322e285.0b7adc","name":"Keyer inputs","func":"if(msg.payload.cmd == \"downstreamKeyer\") {\n    var msg1 = {\n        \"topic\": \"status\",\n        \"payload\": {\n            \"atemDownstreamKeyers\": msg.payload.data\n        }\n    }\n    \n    return msg1;\n}\n\nif(msg.payload.cmd == \"upstreamKeyer\") {\n    var msg1 = {\n        \"topic\": \"status\",\n        \"payload\": {\n            \"atemUpstreamKeyers\": msg.payload.data\n        }\n    }\n    \n    return msg1;\n}","outputs":1,"noerr":0,"x":781.0142211914062,"y":929.3693237304688,"wires":[["e9119712.84ed48"]]},{"id":"e711bb20.56b8a8","type":"debug","z":"7322e285.0b7adc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530.2897796630859,"y":879.409065246582,"wires":[]}]