flows_Hayden-Laptop.json
[{"id":"a9cbfeed.76ef9","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"a3e6c8ee.180088","type":"subflow","name":"Subflow 1","info":"","in":[],"out":[]},{"id":"f5d1c626.0b41a8","type":"sensibo-config","z":"","senAPI":"I2bjTGGNR7IMmY9rABIAG29fIQST8p"},{"id":"94502dc6.80cae","type":"sensibo-config","z":"","senAPI":"I2bjTGGNR7IMmY9rABIAG29fIQST8p"},{"id":"d8a0968e.b39118","type":"uibuilder","z":"a9cbfeed.76ef9","name":"","topic":"","url":"uibuilder","fwdInMessages":false,"allowScripts":false,"allowStyles":false,"copyIndex":true,"showfolder":false,"x":434.5,"y":210,"wires":[["11ea5876.8aca48"],[]]},{"id":"11ea5876.8aca48","type":"function","z":"a9cbfeed.76ef9","name":"Separate Command","func":"var msgs = [];\nfor(var i in msg.payload) {\n    if(msg.topic == \"status\") {\n        var msg1 = {\n            \"topic\": msg.topic,\n            \"payload\": msg.payload[i]\n        }\n        msgs.push(msg1);\n    }\n    else if(msg.topic == \"request\") {\n        var msg1 = {\n            \"topic\": msg.topic,\n            \"payload\":{}\n        }\n        msg1.payload[msg.payload[i].command] = msg.payload[i].value;\n        msgs.push(msg1);\n    }\n}\n\nreturn [msgs];","outputs":1,"noerr":0,"x":621,"y":212,"wires":[["a319094b.d29098","ec4a8f82.76379","9351b74e.33fa38","a9a87483.cf8468","486d4cf2.a70df4","80e0ebaf.b4f9d8","f56ff0e7.4d28","9db08f59.9be28","5d5a1dfe.b25734","b0b18319.e3763","371d1e26.79dbd2"]]},{"id":"9351b74e.33fa38","type":"function","z":"a9cbfeed.76ef9","name":"Reply","func":"if(msg.topic == \"status\") {\n    var msgs = [];\n    \n    if(msg.payload == \"mode\") {\n        var msg1 = {\n            \"topic\": \"status\",\n            \"payload\": {\n                \"mode\": \"full\"\n            }\n        }\n        msgs.push(msg1);\n    }\n    \n    if(msg.payload == \"password\") {\n        var msg1 = {\n            \"topic\": \"status\",\n            \"payload\": {\n                \"password\": \"3212\"\n            }\n        }\n        msgs.push(msg1);\n    }\n    \n    if(msg.payload == \"backstageLights\") {\n        var msg1 = {\n            \"topic\": \"status\",\n            \"payload\": {\n                \"backstageLights\": 0\n            }\n        }\n        msgs.push(msg1);\n    }\n\n    \n    \n\n    \n    // msg1 = {\n    //     \"topic\": \"information\",\n    //     \"payload\": {\n    //         \"message\": \"hi\",\n    //         \"type\": \"warning\"\n    //     }\n    // }\n    // msgs.push(msg1);\n    \n    \n    return [msgs];\n}","outputs":1,"noerr":0,"x":627,"y":95,"wires":[["d8a0968e.b39118"]]},{"id":"44b30f2e.61e38","type":"inject","z":"a9cbfeed.76ef9","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":162.600004196167,"y":82.00000190734863,"wires":[["b34f1ca7.b8ce9"]]},{"id":"b34f1ca7.b8ce9","type":"function","z":"a9cbfeed.76ef9","name":"Change mode","func":"//if(msg.topic == \"status\" && msg.payload === \"\") {\n    var msgs = [];\n    \n    var msg1 = {\n        \"topic\": \"status\",\n        \"payload\": {\n            \"mode\": \"on\"\n        }\n    }\n    msgs.push(msg1);\n    \n    // msg1 = {\n    //     \"topic\": \"information\",\n    //     \"payload\": {\n    //         \"message\": \"hi\",\n    //         \"type\": \"warning\"\n    //     }\n    // }\n    // msgs.push(msg1);\n    \n    \n    return [msgs];\n//}","outputs":1,"noerr":0,"x":184,"y":265,"wires":[["d8a0968e.b39118"]]},{"id":"83974cc8.c9d68","type":"function","z":"a9cbfeed.76ef9","name":"Change mode","func":"//if(msg.topic == \"status\" && msg.payload === \"\") {\n    var msgs = [];\n    \n    var msg1 = {\n        \"topic\": \"status\",\n        \"payload\": {\n            \"mode\": \"off\"\n        }\n    }\n    msgs.push(msg1);\n    \n    // msg1 = {\n    //     \"topic\": \"information\",\n    //     \"payload\": {\n    //         \"message\": \"hi\",\n    //         \"type\": \"warning\"\n    //     }\n    // }\n    // msgs.push(msg1);\n    \n    \n    return [msgs];\n//}","outputs":1,"noerr":0,"x":246,"y":454,"wires":[["d8a0968e.b39118"]]},{"id":"be61248f.5f4418","type":"inject","z":"a9cbfeed.76ef9","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":106,"y":396,"wires":[["83974cc8.c9d68"]]},{"id":"1ebd5e49.b9a502","type":"function","z":"a9cbfeed.76ef9","name":"Lock on","func":"//if(msg.topic == \"status\" && msg.payload === \"\") {\n    var msgs = [];\n    \n    var msg1 = {\n        \"topic\": \"lock\",\n        \"payload\": {\n            \"state\": true\n        }\n    }\n    msgs.push(msg1);\n    \n    // msg1 = {\n    //     \"topic\": \"information\",\n    //     \"payload\": {\n    //         \"message\": \"hi\",\n    //         \"type\": \"warning\"\n    //     }\n    // }\n    // msgs.push(msg1);\n    \n    \n    return [msgs];\n//}","outputs":1,"noerr":0,"x":532,"y":561,"wires":[["d8a0968e.b39118"]]},{"id":"8a1cf31a.8a06f","type":"function","z":"a9cbfeed.76ef9","name":"Lock off","func":"//if(msg.topic == \"status\" && msg.payload === \"\") {\n    var msgs = [];\n    \n    var msg1 = {\n        \"topic\": \"lock\",\n        \"payload\": {\n            \"state\": false\n        }\n    }\n    msgs.push(msg1);\n    \n    // msg1 = {\n    //     \"topic\": \"information\",\n    //     \"payload\": {\n    //         \"message\": \"hi\",\n    //         \"type\": \"warning\"\n    //     }\n    // }\n    // msgs.push(msg1);\n    \n    \n    return [msgs];\n//}","outputs":1,"noerr":0,"x":530,"y":601,"wires":[["d8a0968e.b39118"]]},{"id":"6e85cee6.f7aa6","type":"inject","z":"a9cbfeed.76ef9","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":293,"y":542,"wires":[["1ebd5e49.b9a502"]]},{"id":"9ace9d77.b04","type":"inject","z":"a9cbfeed.76ef9","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":303,"y":601,"wires":[["8a1cf31a.8a06f"]]},{"id":"a319094b.d29098","type":"debug","z":"a9cbfeed.76ef9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":859.6000366210938,"y":298,"wires":[]},{"id":"ec4a8f82.76379","type":"function","z":"a9cbfeed.76ef9","name":"Reply","func":"if(msg.topic == \"request\" && msg.payload.atemKeyers === undefined && msg.payload.atemProgramInputs === undefined && msg.payload.atemMacros === undefined) {\n    return msg;\n}","outputs":1,"noerr":0,"x":903,"y":129,"wires":[["d8a0968e.b39118"]]},{"id":"a9a87483.cf8468","type":"function","z":"a9cbfeed.76ef9","name":"Reply","func":"if(msg.topic == \"status\" && msg.payload !== \"mode\" && msg.payload !== \"atemKeyers\" && msg.payload !== \"houseLights\" && msg.payload !== \"atemProgramInputs\" && msg.payload !== \"atemMacros\") {\n    var msg1 = {\n        \"topic\": \"status\",\n        \"payload\": {\n            \n        }\n        \n    }\n    msg1.payload[msg.payload] = 0;\n    return msg1;\n}","outputs":1,"noerr":0,"x":758,"y":447,"wires":[["d8a0968e.b39118"]]},{"id":"486d4cf2.a70df4","type":"function","z":"a9cbfeed.76ef9","name":"Atem Keyers","func":"if(msg.topic == \"status\" && msg.payload == \"atemKeyers\") {\n    var msg1 = {\n        \"topic\": \"status\",\n        \"payload\": {\n            \"atemKeyers\": {\n                \"upstream\": {\n                    0: {\n                        1: true,\n                        2: true,\n                        3: true,\n                        4: true\n                    },\n                    1: {\n                        1: true,\n                        2: true,\n                        3: true,\n                        4: true\n                    },\n                    2: {\n                        1: true,\n                        2: true,\n                        3: true,\n                        4: true\n                    },\n                   3: {\n                        1: true,\n                        2: true,\n                        3: true,\n                        4: true\n                    },\n                },\n                \"downstream\": {\n                    0: {\n                        1: true,\n                        2: true,\n                    },\n                    1: {\n                        1: true,\n                        2: true,\n                    },\n                    2: {\n                        1: true,\n                        2: true,\n                    },\n                   3: {\n                        1: true,\n                        2: true,\n                    },\n                }\n                \n            }\n            \n        }\n        \n    }\n    return msg1;\n}","outputs":1,"noerr":0,"x":905,"y":560,"wires":[["d8a0968e.b39118"]]},{"id":"80e0ebaf.b4f9d8","type":"function","z":"a9cbfeed.76ef9","name":"Atem Program Inputs","func":"if(msg.topic == \"status\" && msg.payload == \"atemProgramInputs\") {\n    var msg1 = {\n        \"topic\": \"status\",\n        \"payload\": {\n            \"atemProgramInputs\": {\n                0: 0,\n                1: 0,\n                2: 0,\n                3: 0,\n            }\n        }\n    }\n    return msg1;\n}","outputs":1,"noerr":0,"x":935,"y":599,"wires":[["d8a0968e.b39118"]]},{"id":"f56ff0e7.4d28","type":"function","z":"a9cbfeed.76ef9","name":"Atem Inputs","func":"if(msg.topic == \"status\" && msg.payload == \"atemInputs\") {\n    var msg1 = {\n        \"topic\": \"status\",\n        \"payload\": {\n            \"atemInputs\": {\n            }\n        }\n    }\n    for(var i = 0; i < 12; i++) {\n        msg1.payload.atemInputs[i] = {\n            \"name\": \"test\" + i\n        }\n    }\n    \n    \n    return msg1;\n}","outputs":1,"noerr":0,"x":906,"y":644,"wires":[["d8a0968e.b39118"]]},{"id":"9db08f59.9be28","type":"function","z":"a9cbfeed.76ef9","name":"Atem Macros","func":"if(msg.topic == \"status\" && msg.payload == \"atemMacros\") {\n    var msg1 = {\n        \"topic\": \"status\",\n        \"payload\": {\n            \"atemMacros\": {\n                0: {\n                    \"name\": \"Test\"\n                }\n            }\n        }\n    }\n    return msg1;\n}","outputs":1,"noerr":0,"x":907,"y":687,"wires":[["d8a0968e.b39118"]]},{"id":"5d5a1dfe.b25734","type":"function","z":"a9cbfeed.76ef9","name":"Atem Aux","func":"if(msg.topic == \"status\" && msg.payload == \"atemAuxInputs\") {\n    var msg1 = {\n        \"topic\": \"status\",\n        \"payload\": {\n            \"atemAuxInputs\": {\n                0: {\n                    \"name\": \"Yeet Me\",\n                    \"inputId\": 0\n                },\n                1: {\n                    \"name\": \"Yeet Me\",\n                    \"inputId\": 0\n                },\n                2: {\n                    \"name\": \"Yeet Me\",\n                    \"inputId\": 0\n                },\n            }\n        }\n    }\n    return msg1;\n}","outputs":1,"noerr":0,"x":896,"y":731,"wires":[["d8a0968e.b39118"]]},{"id":"b0b18319.e3763","type":"function","z":"a9cbfeed.76ef9","name":"Atem Program Inputs","func":"if(msg.topic == \"status\" && msg.payload == \"atemPreviewInputs\") {\n    var msg1 = {\n        \"topic\": \"status\",\n        \"payload\": {\n            \"atemPreviewInputs\": {\n                0: 0,\n                1: 0,\n                2: 0,\n                3: 0,\n            }\n        }\n    }\n    return msg1;\n}","outputs":1,"noerr":0,"x":933,"y":770,"wires":[["d8a0968e.b39118"]]},{"id":"371d1e26.79dbd2","type":"function","z":"a9cbfeed.76ef9","name":"send ac","func":"if(msg.topic == \"status\" && msg.payload == \"acValues\") {\n    return {\n        \"topic\": \"status\",\n        \"payload\": {\n            \"acValues\": {\n                \"auditorium\": {\n                    \"temp\": 21,\n                    \"setTemp\": 20,\n                    \"mode\": \"cool\",\n                    \"fan\": \"high\",\n                    \"power\": \"on\"\n                },\n                \n                \"cafe\": {\n                    \"temp\": 10,\n                    \"setTemp\": 20,\n                    \"mode\": \"cool\",\n                    \"fan\": \"low\",\n                    \"power\": \"on\"     \n                }    \n            }\n        }\n    }\n}","outputs":1,"noerr":0,"x":898,"y":50,"wires":[["d8a0968e.b39118"]]},{"id":"5cce7a0.e10b388","type":"debug","z":"a9cbfeed.76ef9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1519.5999717712402,"y":255.00000381469727,"wires":[]},{"id":"e6466de0.6bac1","type":"function","z":"a9cbfeed.76ef9","name":"Get State","func":"var msg = {\n    \"payload\": \"acState\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":1220.9999656677246,"y":254.00000476837158,"wires":[["811b35eb.9d3ea8"]]},{"id":"909f072c.ee0a38","type":"inject","z":"a9cbfeed.76ef9","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1119.9999694824219,"y":195.00002765655518,"wires":[["e6466de0.6bac1"]]},{"id":"c7222500.239788","type":"sensibo send","z":"a9cbfeed.76ef9","sensiboAPI":"f5d1c626.0b41a8","name":"","pod":"UcxF3WV6","podSelector":"","x":1381.7998728752136,"y":189.60000324249268,"wires":[["5cce7a0.e10b388"]]},{"id":"811b35eb.9d3ea8","type":"sensibo in","z":"a9cbfeed.76ef9","sensiboAPI":"f5d1c626.0b41a8","name":"","pod":"UcxF3WV6","getconfig":"","polltime":"0","x":1361.7999877929688,"y":293.6000061035156,"wires":[["5cce7a0.e10b388"]]}]